{
	"log_filename": "log.txt",
	"photo_count": 4,
	"photo_pause": 5,
	"add_logo": false,
	"arduino_json": true,
	"usb_stick": false,
	"usb_stick_adr": "/media/user/XXX",
	"mastodon_enable": false,
	"mastodon_base_url": "https://mastodon.tetaneutral.net",
	"mastodon_access_token": "Find token here -> https://mastodon.tetaneutral.net/settings/applications"
}
